extends layout

block content
  <center>
  <h1>TV Table</h1>
  <br><br><br><br>
  <caption><b>TV Size</b></caption>
  <br><br>
  <table>
  <table style="width:100%">
  <table border="1">
  <tr>
  <th></th>
  <th>42</th>
  <th>55</th>
  <th>65</th>
  <th>85</th>
  </tr>
  <tr>
  <td>LDTV</td>
  <td bgcolor="green"></td>
  <td bgcolor="green"></td>
  <td bgcolor="green"></td>
  <td bgcolor="green"></td>
  </tr>
  <tr>
  <td>SDTV</td>
  <td bgcolor="red"></td>
  <td bgcolor="green"></td>
  <td bgcolor="green"></td>
  <td bgcolor="green"></td>
  </tr>
  <tr>
  <td>720p</td>
  <td bgcolor="red"></td>
  <td bgcolor="red"></td>
  <td bgcolor="red"></td>
  <td bgcolor="green"></td>
  </tr>
  <tr>
  <td>1080i</td>
  <td bgcolor="red"></td>
  <td bgcolor="red"></td>
  <td bgcolor="red"></td>
  <td bgcolor="red"></td>
  </tr>
  <tr>
  <td>1080p</td>
  <td bgcolor="red"></td>
  <td bgcolor="red"></td>
  <td bgcolor="red"></td>
  <td bgcolor="red"></td>
  </tr>
  <tr>
  <td>4K</td>
  <td bgcolor="red"></td>
  <td bgcolor="red"></td>
  <td bgcolor="red"></td>
  <td bgcolor="red"></td>
  </tr>
  </table>
  </center>
  <p style="margin-top: -80px;"><b>Resolution</b></p>
  <br><br><br><br><br><br>
  <center>
  <h3>Viewer's Distance:  180 inches</h3>
  <br>
  </center>


